# NumPy binary wheel for CPython 3.12 on Linux x86_64 (glibc >= 2.27).
# Audited URL and redistribution details: third_party/emi_python/PROVENANCE.md.
numpy==2.4.3 \
    --hash=sha256:e7dd01a46700b1967487141a66ac1a3cf0dd8ebf1f08db37d46389401512ca97
